// Body
$body-bg: #F6F6F6;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$fa-font-path: '../webfonts';

$primary: #1771F1 !default;
$secondary: #179779 !default;
$neutral: #C2CBCE !default;
$dark: #141C26 !default;

$colors : (

    primary: $primary,
    primary-900: #05162F,
    primary-800: #092C5D,
    primary-700: #0D428C,
    primary-600: #135BBE,
    primary-500: $primary,
    primary-400: #3D88F1,
    primary-300: #649EF1,
    primary-200: #8AB5F1,
    primary-100: #B1CBF1,

    secondary: $secondary,
    secondary-900: #0A4536,
    secondary-800: #0E5947,
    secondary-700: #116E57,
    secondary-600: #148268,
    secondary-500: $secondary,
    secondary-400: #34AB90,
    secondary-300: #57C0A8,
    secondary-200: #81D4C2,
    secondary-100: #B1E8DC,

    neutral: $neutral,
    neutral-900: #92A1A7,
    neutral-800: #9DABB1,
    neutral-700: #A9B6BB,
    neutral-600: #B5C0C5,
    neutral-500: $neutral,
    neutral-400: #CED5D8,
    neutral-300: #DBE0E2,
    neutral-200: #E8EBEC,
    neutral-100: #F6F6F6,

    dark: $dark,
    dark-900: #020304,
    dark-800: #06090C,
    dark-700: #0B0F15,
    dark-600: #0F151D,
    dark-500: $dark,
    dark-400: #18222E,
    dark-300: #1D2837,
    dark-200: #212E3F,
    dark-100: #263547,

) !default;
