.mdl-layout__header{
    background-color: color(neutral-100);
    box-shadow: none;
    border-bottom: 1px solid color(neutral-200);
    opacity: 1;
    .top_nav{
        a{
            color: color(dark-100);
            font-weight: 600;
            i{
                font-size: 1.5rem;
            }
        }
    }
    .mdl-layout__drawer-button{
        color: color(dark-100);
    }
}
.mdl-layout__drawer{
    box-shadow: none;
    border-right: 0;
    opacity: 1;
    background: color(neutral-100);
    .mdl-navigation{
        background: color(primary);
        padding-left: 15px;
        overflow: hidden;
        padding-top: 22px;
        .mdl-navigation__link{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            transition: all .3s;
            position: relative;
            opacity: 1;
            text-transform: uppercase;
            padding: 16px 12px 16px 24px;
            cursor: pointer;
            a.wrapper{
                color: color(primary-100);
                transition: all .3s;
                font-weight: 600;
                display: block;
                i{
                    margin-right: 0.5rem;
                }
                &.has_child{
                    padding: 8px 0;
                }
            }
            .collapse{
                nav{
                    a{
                        color: color(primary);
                        padding: 8px 0 8px 32px;
                        display: block;
                    }
                }
            }
            &:before, &:after{
                content: '';
                height: 27px;
                width: 27px;
                background: url('../images/nav-link-svg.svg') no-repeat center;
                background-size: 100% 100%;
                right: -0.5px;
                display: none;
                position: absolute;
            }
            &:before{
                top: -26px;
            }
            &:after{
                bottom: -26px;
                transform: scaleY(-1);
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0);
                a.wrapper{
                    color: #fff;
                    text-decoration: none;
                }
            }
            &.active{
                background-color: color(neutral-100);
                a.wrapper{
                    color: color(primary);
                }
                &:before, &:after{
                    display: block;
                }
            }
        }
    }
    .logo{
        padding: 2.5rem 1.5rem 1rem;
        background-color: color(primary);
        &.white{
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}
.mdl-layout__content{
    .page-content{
        position: relative;
    }
}
