.modal-content{
    border: 0;
    .modal-header{
        border-bottom: 0;
        .close{
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .modal-footer{
        border-top: 0;
    }
}

.modal{
    .form-group{
        .input_wrapper{
            position: relative;
            &.with_icon{
                .form-control{
                    padding-right: 40px;
                }
            }
            &.no_label{
                .form-control{
                    padding: 12px 16px;
                }
            }
            label{
                position: absolute;
                margin-bottom: 0;
                top: 8px;
                left: 8px;
                color: color(neutral-900);
                cursor: text;
            }
            .icon{
                position: absolute;
                top: 50%;
                right: 12px;
                color: color(neutral-900);
                transform: translateY(-50%);
                cursor: pointer;
            }
            .form-control{
                height: initial;
                min-height: calc(1.6em + 0.75rem + 2px);
                padding: 32px 16px 16px 20px;
                border: 0;
                background-color: color(neutral-100);
                &:focus{
                    box-shadow: none;
                    background-color: #fff;
                    box-shadow: 0 0 0 2px color(primary);
                }
            }
        }
    }
    .modal-table{
        tbody{
            td{
                vertical-align: middle;
            }
        }
    }
}
