body{
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    ::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb{
        cursor: pointer;
        border-radius: 5px;
        background: rgba(0, 0, 0, .25);
        transition: color .2s ease;
    }
}
h1, h2, h3, h4, h5, h6, label{
    font-family: inherit;
}
::selection{
    color: color(primary-200);
    color: #000;
}
a{
    color: color(secondary);
    &:hover{
        text-decoration: none;
        color: color(secondary-700);
    }
}
button, [role="button"]{
    outline: none !important;
}
.btn{
    padding: 0.8rem 2rem;
    position: relative !important;
    white-space: nowrap;
    &.btn-circular{
        border-radius: 90px;
    }
}
.mdl-js-button{
    overflow: hidden;
}
.btn:focus, .btn.focus{
    box-shadow: none !important;
}
.form-control{
    font-weight: 600;
}
.add_entry_fab{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 56px;
    width: 56px;
    border-radius: 50px;
    background-color: color(primary);
    color: #fff;
    border: 0;
    display: flex;
    align-items: center;
    transition: cubic-bezier(0.85, 0.18, 0.58, 1) .15s;
    overflow: hidden;
    box-shadow: 0 10px 16px -4px rgba(0, 0, 0, 0.4);
    .wrapper{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        span{
            white-space: nowrap;
            opacity: 0;
            transition: all .3s;
        }
    }
    &:hover{
        width: 180px;
        .wrapper{
            span{
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .add_entry_fab{
        right: 30px;
        bottom: 30px;
    }
}

.table-responsive{
    border-radius: 5px;
    &.table-shadow{
        box-shadow: 0 10px 16px -4px rgba(0, 0, 0, 0.1);
    }
}
.table{
    color: color(dark-100);
    margin-bottom: 0;
    thead{
        th{
            border-bottom: 0;
            white-space: nowrap;
        }
    }
    &.table-primary{
        background-color: #fff;
        thead{
            background-color: color(primary);
            th{
                color: #fff;
            }
        }
        td, th{
            border-color: color(neutral-200);
        }
    }
}
.hand{
    cursor: pointer;
}

.custom-control-label::before{
    top: 0;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
}
.custom-control-label::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
    left: -1.9rem;
    top: 1px;
    width: 1.5rem;
    height: 1.5rem;
}
